header {
    background: #119ABF;
    min-height: 100px;
}

.logo {
  max-width: 100px;
}

nav, #hamburger-menu {
    display: none;
}

.hamburger-label{
    float: right;
    color: #FFF;
    padding: 10px;
    font-size: 1.5em;
    display: block;
}