body{
    border-style: dashed;
}

p {
    font-family: fino-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}
/* Fino Sans Italic

font-family: fino-sans, sans-serif;

font-weight: 400;

font-style: italic;


Fino Sans Regular

font-family: fino-sans, sans-serif;

font-weight: 400;

font-style: normal;


Fino Sans Bold Italic

font-family: fino-sans, sans-serif;

font-weight: 700;

font-style: italic;


Fino Sans Bold

font-family: fino-sans, sans-serif;

font-weight: 700;

font-style: normal;
*/